<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/about.css">
  </head>
  <body>
    <div class="content">
      <h1>About Us</h1>
      <p>Welcome to CipherChat, your secure and private instant messaging platform. Our mission is to provide a reliable and encrypted communication platform for users who prioritize privacy and security.</p>
      <h3>Our Team</h3>
      <div class="row">
        <div class="col-md-6">
          <h5>Yashvardhan Sharma</h5>
          <p>Founder & Sole Developer</p>
        </div>
        <h3>Our Vision</h3>
        <p>We envision a world where individuals can communicate freely and securely without compromising their privacy. CipherChat is committed to developing innovative solutions to empower users with control over their personal information.</p>
      </div>
      <div class="container-fluid bg-light fixed-bottom">
        <div class="form-check form-switch text-center">
          <input class="form-check-input" type="checkbox" id="modeSwitch">
          <label class="form-check-label" for="modeSwitch">Slide the switch to change mode</label>
        </div>
      </div>
    <script src="/static/js/darkmode.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>