<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CipherChat - Secure Instant Messaging</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
  <h1>CipherChat - Secure Instant Messaging</h1>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="" onclick="loadPage('')">
          <img src="static/img/app-logo-removebg.png" alt="CipherChat Logo">
        </a>
        <a class="navbar-brand" href="" onclick="loadPage('')">Home</a>
        <a class="navbar-brand" href="#" onclick="loadPage('about')">About Us</a>
        <a class="navbar-brand" href="#" onclick="loadPage('contact')">Contact</a>
        <a class="navbar-brand" href="/register">Register</a>
        <a class="navbar-brand" href="/login">Login</a>
      </div>
    </nav>
    <div class="content" id="main-content">
      <!-- Initial content of your index page goes here -->
      <p>Welcome to CipherChat, your secure and private instant messaging platform.</p>
      <p>🔐 <strong>End-to-End Encryption:</strong> Your messages are shielded with robust end-to-end encryption, ensuring that only you and your intended recipient can access the content. </p>
      <p>🌐 <strong>Global Accessibility:</strong> Connect with friends and colleagues seamlessly, no matter where they are. CipherChat provides a global platform for secure communication. </p>
      <p>🚀 <strong>User-Friendly Interface:</strong> Experience hassle-free navigation with our intuitive and user-friendly interface. From registration to chatting, CipherChat prioritizes simplicity without compromising security. </p>
      <p>🎨 <strong>Dark Mode:</strong> Customize your visual experience with our sleek dark mode. Whether you prefer a classic look or a more contemporary feel, CipherChat adapts to your style. </p>
      <div class="container-fluid bg-light fixed-bottom">
        <div class="form-check form-switch text-center">
          <input class="form-check-input" type="checkbox" id="modeSwitch">
          <label class="form-check-label" for="modeSwitch">Slide the switch to change mode</label>
        </div>
      </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>